SECRET_KEY = django-insecure-cambiar-esto-en-produccion
DEBUG = True
ALLOWED_HOSTS = localhost,127.0.0.1
POSTGRES_DB = mydb
POSTGRES_USER = django_user
POSTGRES_PASSWORD = cambia-esto
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
