SECRET_KEY=django-insecure-cambiar-esto-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=portfolio_db
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=portfolio_local_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
