{% extends "layout_base.html" %}
{% load markdown_extras %}

{% block head_title %}javi-kl | Backend Developer{% endblock %}
{% block page_content %}
    <section class="about-section">
        {{ contenido|render_markdown }}
    </section>

    <section class="projects-section" aria-labelledby="projects-title">
        <h2 class="section-title" id="projects-title"><span>Proyectos</span></h2>
        {% if request.user.is_superuser %}
            <ul class="admin-links">
                <li><a href="{% url 'projects:project_create' %}">Crear proyecto</a></li>
            </ul>
        {% endif %}
        {% include '_includes/_project_card.html' %}
    </section>
{% endblock %}
